.Cards {
  cursor: pointer;
  color: black;
  width: 400px;
  padding: 12px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid;
}

.Cards img {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}
