.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-list {
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
